// 🎨 Colores
$color-primary: #00b140;
$color-border: #EEF;
$color-accent: #e0c65a;
$color-background: #f9f9f9;
$color-text: #333;
$color-white: #fff;
$color-black: #000;
$color-cancel: #FF4D4F;
$color-add-cart: #FCB831;

// 📏 Espaciado
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;

// 📐 Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Font-size
$font-size-xxs: 0.25rem;
$font-size-xs: 0.5rem;
$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;

// Padding
$padding-xxs: 0.25rem;
$padding-xs: 0.5rem;
$padding-sm: 1rem;
$padding-md: 1.5rem;
$padding-lg: 2rem;
